/* ADD YOUR STYLES HERE - CHANGE2*/



/*  -------Tables -------- */

.datatable {
	width: 100%;
	height: 100px;
    border-collapse: separate;
    border-spacing: 0px;
}

.rows td {
	border-bottom:  solid lightgrey 1px;
}

.rows th {
	border-bottom:  solid lightgrey 1px;
}

/*  --------Stats-----------  */


.stats td{
	width: 100px;
	/*margin: 50px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	border-top:  solid lightgrey 1px;
	border-bottom:  solid lightgrey 1px;
}

.number {
	font-size: 40px;
	font-weight: 100px;
	font-family: arial;
	text-align: center;
}

.description{
	font-size: 13px;
	font-weight: 100px;
	font-family: Geneva;
	color: lightgrey;
	text-align: center;
}


/* --------    BAR chart    ----------*/

.chart {
	width: 100%;
}

.chart th {
	width: 100px;
}

.chart tr td div{
	background-color: #5488d9;
	border-radius: 0 5px 5px 0;
	margin-left: 10px;
	color: white;
	height: 18px;
	text-indent: 4px;
	padding-top: 3px;
	font-family: arial;
	font-size: 14px;
}

.title {
	text-align: right;
}


/* ---------    lightbox    ----------   */ 

.graybox {
	position: relative;
	width: 900px;
	height: 500px;
	background-color: gray;
}

.whitebox {
	position: absolute;
	width: 500px;
	height: 250px;
	background-color: white;
	top: 100px;
	left: 125px;
	border-radius: 25px;
	padding: 10px;
}

.whitebox a {
	position: absolute;
	width: 75px;
	height: 25px;
	background-color: pink;
	border-radius: 5px;
	color: white;
	padding-top: 5px;
	padding-left: 25px;
	top: 215px;
	left: 350px;
}
/*   ----------     MEdia BLocks  -------------    */




.mblockone {
	display: inline-block;
	vertical-align: right;
	width: 91%;
}
/*  -- Diff Structure --  */

.mblocktwo-img {
	display: inline-block;

}

.mblocktwo {
	display: inline-block;
	vertical-align: right;
	/*margin-left: 45px;*/
	width: 92%;
	float: right;
}

/*    ----- Nested Objects   -------   */

.nested-img{
	display: inline-block;

}

.nested-text {
	display: inline-block;
	vertical-align: right;
	/*margin-left: 45px;*/
	width: 92%;
	float: right;
}



.nested-imgtwo {
	/*display: inline-block;*/
	padding-top: 65px;
	float: left;

}


.nested-texttwo{
	display: inline-block;
	/*position: static;
	vertical-align: right;*/
	/*vertical-align: text-bottom;
	/*margin-left: 45px;*/
	width: 92%;
	/*height: 20px;*/
	float: right;
	margin-bottom: 30px;
	/*top: -40px;
	float: top;
	padding-bottom: 50px;

*/	
}







